#circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 0;
}

#catcher{
    background-image: url('../afbeeldingen/catch3.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 300px;
    position: absolute;
    bottom: 0px;
    left: 0;
}

#button{
position: absolute;
right: 0;
}